<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDahmfAQeAobVXhyrIkD1NG4ijHUSSulWU</string>
	<key>GCM_SENDER_ID</key>
	<string>281278243072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.tunckankilic.martatest</string>
	<key>PROJECT_ID</key>
	<string>martatest-8cf73</string>
	<key>STORAGE_BUCKET</key>
	<string>martatest-8cf73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281278243072:ios:51a026c4fa2f898f2393e5</string>
</dict>
</plist>